In [12]:
import os
import sys
from pathlib import Path
# Setting the working directory to the root of the project
project_dir = Path("C:/Users/adbou/source/repos/KFHXRelatedAi/")
os.chdir(project_dir)

from Configs.GeneralPaths import SOURCEDATA
import pandas as pd
import numpy as np

In [13]:
#load user transactions data
transactions = pd.read_excel(Path(SOURCEDATA / "Transactions_Collab.xlsx"))

In [14]:
transactions.head()

,TrxId,TrxDate,FK_BusinessUserId,PointsRedeemed,EntityName,FK_ContentId,EntityCategory
0,12429817,2023-06-04 11:46:06.050,976480,1000,Alkhalid Clinic,113923,Health & Beauty
1,12525687,2023-06-07 14:08:10.287,976480,10000,H&S Store,113853,Electronics
2,12525666,2023-06-08 11:03:32.043,976480,10000,H&S Store,113853,Electronics
3,12838074,2023-06-22 08:28:30.300,976921,10,Deliveroo Plus,113851,Food & Beverage
4,13587992,2023-07-27 14:41:13.607,976480,50,Mawqif App,113835,On-demand

In [17]:
Redemption_data = pd.read_excel(Path(SOURCEDATA / "Rdepemtion_Cleaned_Deals.xlsx"))

In [18]:
Redemption_data.head()

,Unnamed: 0.1,Unnamed: 0,ContentId,Title,FK_StatusId,Deal Type,Description,Location,Points,Categories
0,0,0,113815,Off from Al Rifai,2,Voucher,Get a 15 KD discount voucher for your next onl...,https://www.google.com/maps/search/al+rifai+ku...,15000,Food and Beverage Stores
1,1,1,113816,Off from Dip n dip,2,Voucher,Get 10 KD off on your next order from Dip n di...,NaN,10000,Restaurants and Food Services
2,2,2,113817,Order from Dip n Dip and get discount,1,Discount,Order from Dip n Dip and get 5KD discount,https://www.google.com/maps/search/dipndip/@29...,5000,Restaurants and Food Services
3,3,3,113818,Get discount from Ellena Bakery,2,Discount,Get 3KD discount from Ellena Bakery,https://maps.app.goo.gl/bnZXdfUbbaGFjFiJA,3000,Food and Beverage Stores
4,4,4,113819,Off from Talabat,1,Voucher,Get 3KD discount from Talabat.,https://goo.gl/maps/5uoJEdD95W1YSpDt9,3000,Restaurants and Food Services

In [19]:
# Rename 'ContentId' in Redemption_data to match 'FK_ContentId' in transactions
Redemption_data = Redemption_data.rename(columns={'ContentId': 'FK_ContentId'})

# Merge the dataframes on 'FK_ContentId'
merged_df = pd.merge(transactions, Redemption_data[['FK_ContentId', 'Categories']], on='FK_ContentId', how='left')

In [20]:
transactions['EntityCategory'] = merged_df['Categories']
transactions.head()

,TrxId,TrxDate,FK_BusinessUserId,PointsRedeemed,EntityName,FK_ContentId,EntityCategory
0,12429817,2023-06-04 11:46:06.050,976480,1000,Alkhalid Clinic,113923,Health and Medical
1,12525687,2023-06-07 14:08:10.287,976480,10000,H&S Store,113853,Electronics and Appliances
2,12525666,2023-06-08 11:03:32.043,976480,10000,H&S Store,113853,Electronics and Appliances
3,12838074,2023-06-22 08:28:30.300,976921,10,Deliveroo Plus,113851,Restaurants and Food Services
4,13587992,2023-07-27 14:41:13.607,976480,50,Mawqif App,113835,Ground Transportation

In [21]:
transactions.to_excel(Path(SOURCEDATA / "Redemptions_Transactions_For_Profilings.xlsx") , index=False)